html
  head
    title.
      Winner, winner...
  body
  form(action="/" method="post")
    h1 Congratulations!
    h2 Unless you cheated.
    h3 In which case: GO AWAY.
    h4 But if you really deciphered it, put your name in the box.
    input(type="text" name="userName" placeholder="right here")
    button(type="submit").
      Submit
